<div class="user-login-container">
  <span class="material-icons">account_circle</span>
  <h2><span></span>{{ userLogin }}</h2>
  <span class="material-icons">logout</span>
  <span (click)="logout()">sair</span>
</div>


  

<mat-card>
  <mat-toolbar color="warn" class="mat-toolbar-custom">Informações do Acessor</mat-toolbar>
<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="accesseds">
    
    <ng-container matColumnDef="company_name">
      <th mat-header-cell *matHeaderCellDef>Nome/Empresa</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.company_name }}</td>
    </ng-container>
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Cód.</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.id }}</td>
    </ng-container>

    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.login }}</td>
    </ng-container>    

    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef>CNPJ</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.cnpj }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Cidade</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.city }}</td>
    </ng-container>

    <ng-container matColumnDef="country_name">
      <th mat-header-cell *matHeaderCellDef>País</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.country_name }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.region }}</td>
    </ng-container>

    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef>Endereço/IP</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.ip }}</td>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef>Latitude</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.latitude }}</td>
    </ng-container>

    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef>Longitude</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.longitude }}</td>
    </ng-container>

    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef>Data/Hora</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.dateTime }}</td>
    </ng-container>

    <ng-container matColumnDef="network">
      <th mat-header-cell *matHeaderCellDef>Network</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.network }}</td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef>Protocolo</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.version }}</td>
    </ng-container>

    <ng-container matColumnDef="org">
      <th mat-header-cell *matHeaderCellDef>Internet/Empresa</th>
      <td mat-cell *matCellDef="let accessed">{{ accessed.org }}</td>
    </ng-container>   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
</mat-card>