<mat-card>
    <mat-toolbar  class="mat-toolbar-custom" color="primary">Cadastrar-se</mat-toolbar>
  
    <mat-card-content>
      <form [formGroup]="form">
       
        <mat-form-field class="full-width">
          <mat-label>Login do Acessor</mat-label>
          <input matInput formControlName="login" />
        </mat-form-field>
        <br />

        <mat-form-field class="full-width">
          <mat-label>Empresa</mat-label>
          <input matInput formControlName="company_name" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="full-width">
          <mat-label>CNPJ</mat-label>
          <input matInput formControlName="cnpj" />
        </mat-form-field>
        <br />        
  
        <mat-form-field class="full-width">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="full-width">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="region" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="full-width">
          <mat-label>País</mat-label>
          <input matInput formControlName="country_name" />
        </mat-form-field>
        <br />        
  
        <mat-form-field class="full-width">
          <mat-label>Endereço do IP</mat-label>
          <input matInput formControlName="ip" />
        </mat-form-field>
        <br />        
  
        <mat-form-field class="full-width">
          <mat-label>Latitude</mat-label>
          <input matInput formControlName="latitude" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="full-width">
          <mat-label>Longitude</mat-label>
          <input matInput formControlName="longitude" />
        </mat-form-field>
        <br />        

        <mat-form-field class="full-width">
          <mat-label>Network</mat-label>  
          <input matInput formControlName="network" />
        </mat-form-field>
        <br />

        <mat-form-field class="full-width">
          <mat-label>Version</mat-label>
          <input matInput formControlName="version" />
        </mat-form-field>
        <br />

        <mat-form-field class="full-width">
          <mat-label>Empresa da Internet</mat-label>
          <input matInput formControlName="org" />
        </mat-form-field>        
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Salvar
      </button>
      <button mat-raised-button color="warn" (click)="onCancel()">
        Cancelar
      </button>
    </mat-card-actions>
  </mat-card>
  
